BasedOnStyle: Mozilla
BreakBeforeBraces: Attach
IndentWidth: 4

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true

ColumnLimit: 0

AlignAfterOpenBracket: DontAlign

ReflowComments: false
AlignTrailingComments: true
CommentPragmas: '^ IWYU pragma:'